$primary:#008081;
$secondary:#F9A602;

$header:rgb(82, 92, 101);
$border:rgb(219, 226, 232);
$grey1:#adadad;

$red:#f23a38;
$red-1:#f34d4b;
$red1:#d93432;

$green:#2cc12e;
$green-1:#56cd57;
$green1:#239a34;
