@import "../../../assets/scss/colors.scss";

nav {
  .navbar-brand {
    font-size:40px;
    font-weight:bold;
    .primary  {
      color:$primary;
    }
    .secondary  {
      color:$secondary;
    }
  }
}
