<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-3 mt-md-5">
      <div class="signinForm p-3 p-md-4">
        <div class="header">
          <h4><fa-icon [icon]='faUser'></fa-icon> &nbsp; Admin Sign In</h4>
          <hr>
        </div>
        <div class="feedback my-3 p-3 error" *ngIf='feedback'>
          {{feedbackMessage}}
          <a class='close' (click)='closeFeedback()'>&times;</a>
        </div>
        <form class="form" [formGroup]='signinForm' action="index.html" method="post">
          <div class="form-group">
            <input type="text" class='form-control' formControlName='username' [class.is-invalid]='username.invalid && isSubmit'  placeholder="Username" name="" value="">
            <small class='text-danger' *ngIf='username.errors?.required && isSubmit'>This field is required</small>
          </div>
          <div class="form-group">
            <input type="password" class='form-control' formControlName='password' [class.is-invalid]='password.invalid && isSubmit' placeholder="Password" name="" value="">
            <small class='text-danger' *ngIf='password.errors?.required && isSubmit'>This field is required</small>
          </div>
          <button type="button" [disabled]="isValid" class='btn btn-block' name="button" (click)='onSubmit()'>
            {{signInBtnText}}
            <div class="float-right"><gb-loader *ngIf="isValid" [data]="{type: 3}"></gb-loader></div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
